<body>
    <div class="wrapper">
        <div class="left">
            <div class="wrapTitle">
                <div class="imgBorder"><img src="../../assets/Icon/logincurve.png"></div>
                <h1>Log in to <span style="color: #1565C0;">Svarga</span></h1>
            </div>
           
            <div class="form">

                <p>Selamat Datang! Silahkan log in agar kami dapat mengenal Anda dengan lebih baik</p>
                <br>
                
                <button class="button">
                    <img src="../assets/Icon/fb.png">
                    <span> Log in dengan Google  </span>
                </button><br>
                <button class="button">
                    <img src="../assets/Icon/google.png">
                    <span> Log in dengan Facebook</span>
                </button>

                <div class="wrapLine">
                    <div class="line"></div>
                    <span style="margin: 5px 10px;">atau</span>
                    <div class="line"></div>
                </div>

                <div class="formField">
                    <mat-icon>mail_outline</mat-icon>
                    <div class="fieldWrap">
                        <label>
                            email
                        </label>
                        <input type="email" formControlName="email" placeholder="input email" />
                    </div>
                </div><br>
                <div class="formField">
                    <mat-icon>lock</mat-icon>
                    <div class="fieldWrap">
                        <label>
                            password
                        </label>
                        <input [type]="hide ? 'password' : 'text'" formControlName="password"
                            placeholder="enter password" />
                    </div>
                    <button type="button" class="visibility" (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
                    </button>
                </div>

                <div class="tambahanLogin">
                    <mat-checkbox >Check me!</mat-checkbox>
                    <a>Lupa password?</a>
                </div>

                <button class="button Login" routerLink="/homepage" routerLinkActive="active">
                    <span> Login</span>
                </button><br>

                <div class="signup">
                    <p>Belum punya akun? <span>Daftar Sekarang</span></p>
                </div>
                

            </div>
        </div>

        <div class="right">

            <div class="logo">
                <img src="../../assets/Icon/logo.png">
                <h1>Svarga</h1>
            </div>
            <div class="background">
                <img src="../../assets/Picture/Sample pic 3.png">
            </div>
        </div>
    </div>
</body>