<section style="display: flex;">

    <mat-card class="card-paket">
        <mat-card-header>
            <mat-card-title>Paket Terjamin</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p><mat-icon>check_circle_outline</mat-icon> Penanganan Jenazah </p>
            <p><mat-icon>check_circle_outline</mat-icon> Transportasi Jenazah (VIP) </p>
            <p><mat-icon>check_circle_outline</mat-icon> Prosesi Pemakaman </p>
            <p><mat-icon>check_circle_outline</mat-icon> Peti Mati & Nisan </p>
            <p><mat-icon>check_circle_outline</mat-icon> Transportasi Keluarga </p>
            <p><mat-icon>check_circle_outline</mat-icon> Pengurusan Administrasi </p>
        </mat-card-content>
        <mat-card-actions>
            <div class="link"><a>Lihat Selengkapnya...</a></div><br>
            <button class="button">Pilih Paket</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="card-paket">
        <mat-card-header>
            <mat-card-title>Paket Damai</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p><mat-icon>check_circle_outline</mat-icon> Penanganan Jenazah </p>
            <p><mat-icon>check_circle_outline</mat-icon> Transportasi Jenazah (VIP) </p>
            <p><mat-icon>check_circle_outline</mat-icon> Prosesi Pemakaman </p>
            <p><mat-icon>check_circle_outline</mat-icon> Peti Mati & Nisan </p>
            <p><mat-icon>check_circle_outline</mat-icon> Transportasi Keluarga </p>
            <p><mat-icon>check_circle_outline</mat-icon> Pengurusan Administrasi </p>
            <p><mat-icon>check_circle_outline</mat-icon> Transportasi Pelayat ( 1 Bus) </p>
            <p><mat-icon>check_circle_outline</mat-icon> Konsumsi Pelayat </p>
            <p><mat-icon>check_circle_outline</mat-icon> Dekorasi Rumah Duka </p>
        </mat-card-content>
        <mat-card-actions>
            <div class="link"><a>Lihat Selengkapnya...</a></div><br>
            <button class="button">Pilih Paket</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="card-paket">
        <mat-card-header>
            <mat-card-title>Paket Sejahtera</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p><mat-icon>check_circle_outline</mat-icon> Penanganan Jenazah </p>
            <p><mat-icon>check_circle_outline</mat-icon> Transportasi Jenazah (VIP) </p>
            <p><mat-icon>check_circle_outline</mat-icon> Prosesi Pemakaman </p>
            <p><mat-icon>check_circle_outline</mat-icon> Peti Mati & Nisan </p>
            <p><mat-icon>check_circle_outline</mat-icon> Transportasi Keluarga </p>
            <p><mat-icon>check_circle_outline</mat-icon> Pengurusan Administrasi </p>
            <p><mat-icon>check_circle_outline</mat-icon> Transportasi Pelayat ( 1 Bus) </p>
            <p><mat-icon>check_circle_outline</mat-icon> Konsumsi Pelayat </p>
            <p><mat-icon>check_circle_outline</mat-icon> Dekorasi Rumah Duka </p>
            <p><mat-icon>check_circle_outline</mat-icon> Rumah Duka (opsional) </p>
        </mat-card-content>
        <mat-card-actions>
            <div class="link"><a>Lihat Selengkapnya...</a></div><br>
            <button class="button">Pilih Paket</button>
        </mat-card-actions>
    </mat-card>

</section>
