section {
    display: flex;
    width: 100%;
    
    justify-content: center;
}

.card-paket {
    width: 30%;
    height: 500px;
    margin: 20px;
    color: gray;
    background-color: white;
    border-radius: 20px;
}

.card-paket:hover {
    border: 1px solid #1565C0;
    color: #1565C0;
}

mat-card-header {
    justify-content: center;
}

mat-card-content {
    line-height: 5px;
    padding: 15px 5px;
    height: 325px;
    
}
p{
    align-items: center;
}

mat-card-actions {
    text-align: center;
    justify-content: center;
}

.link {
    text-align: right;
    padding: 0;
    margin: 0;
}


.button {
    border: 2px solid #1E88E5;
    background-color: white;
    border-radius: 50px;
    color: #1E88E5;
    align-items: center !important;
    line-height: normal;
    padding: 0 50px;
    height: 50px;
    font-weight: 500;
    font-size: 1rem;
    justify-content: center;
}

.button:hover {
    border: 1px solid #1565C0;
    background-color:#1565C0 ;
    color: white
}