
<section>
    <mat-card class="card-paket">
        <mat-card-header>
            <mat-card-title>Konsultan Pemakaman</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p><mat-icon>check_circle_outline</mat-icon> Konsultasi biaya pemakaman</p>
            <p><mat-icon>check_circle_outline</mat-icon> Konsultasi vendor dekorasi </p>
            <p><mat-icon>check_circle_outline</mat-icon> Konsultasi cathering </p>
            <p><mat-icon>check_circle_outline</mat-icon> Konsultasi TPU </p>
            <p><mat-icon>check_circle_outline</mat-icon> Konsultasi Psikologi berkaitan dengan kedukaan (opsional) </p>
        </mat-card-content>
        <mat-card-actions>
            <div class="link"><a>Lihat Selengkapnya...</a></div><br>
            <button class="button">Pilih Paket</button>
        </mat-card-actions>
    </mat-card>
</section>
