/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family:"AinslieW01-NormRegular" ;
    src: url("assets/Font/Ainslie W01 Norm Regular V2/Ainslie W01 Norm Regular V2.ttf");
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
